# Crear cubos para tablero

In [1]:
import pandas as pd
import numpy as np
import funciones

In [2]:
# Ruta con columnas:
ruta_col_cubo = 'C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/'
archivo_posicion_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Posicion_asociado_desc.xlsx"
archivo_provincia_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Provincia_asociado_desc.xlsx"
archivo_zonapromo_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Zona_promocion_desc.xlsx"

ruta_exportaciones = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Reportes/"
ruta_salida_cubo =  "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Cubo_salida/"

# DEFINIR EL PERIODO DEL CUBO
periodo_cubo = 202202

In [3]:
# Buscamos la auxiliar con las columnas objetivo (en orden)
df_base = pd.read_excel(ruta_col_cubo + "columnas_cubo.xlsx")
columnas = list(df_base.columns)

In [4]:
# Leemos el dataframe de exportaciones:
df = funciones.leer_csv(ruta_exportaciones)
df.reset_index()
df.fillna(0, inplace=True)

#df['Posicion Asociado DESC'] = "**COMPLETAR**"
df['Subtipo de Venta ID'] = df['Tipo de Venta ID']

# Agrego columna período al principio del df:
df["Período"] = periodo_cubo

In [5]:
#archivo = "C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Reportes/R_P_Mendoza.csv"
#df = pd.read_csv(archivo, decimal=',', encoding='latin-1')

In [6]:
# leo el dataframe con la posicion desc e id:
df_pa = pd.read_excel(archivo_posicion_desc)
df_pa.head()

   Posicion Asociado ID          Posicion Asociado DESC
0                     0
1                     1  CAR CÓRDOBA
2                     2  CAR RIO CUARTO
3                     3  CAR MORTEROS
4                     4  CAR SANTA FE

In [7]:
# leo el dataframe con la provincia desc e id:
df_pra = pd.read_excel(archivo_provincia_desc)
df_pra.head()

  Provincia Asociado ID         Provincia Asociado DESC
0                        FALTA DATO
1                     9  FALTA DATO
2                     A  SALTA
3                     B  BUENOS AIRES
4                     C  CAPITAL FEDERAL

In [8]:
# leo el dataframe con la zona de promocion desc e id:
df_zp = pd.read_excel(archivo_zonapromo_desc)
df_zp.head()

   Zona de Promocion ID Zona de Promocion DESC
0                     0            SIN ASIGNAR
1                     1                  OTROS
2                     2                CORDOBA
3                     3     GALVEZ / ESPERANZA
4                     4          MAR DEL PLATA

In [9]:
# hago el cruce para obtener la desc. de la posición, provincia e id del rango edad:
df = pd.merge(df, df_pa, on='Posicion Asociado ID', how='left')
df = pd.merge(df, df_pra, on='Provincia Asociado ID', how='left')
df = pd.merge(df, df_zp, on='Zona de Promocion ID', how='left')

In [10]:
df.rename( columns = { 'Cobertura_desc': 'Cobertura_med_desc', 
'Rango_Edad id': 'Rango_Edad_id',
'Cantidad NC_total_pmo': 'Cantidad NC_pmo',
'Consumo NC_total_pmo': 'Consumo NC_pmo'
}, inplace=True)

In [11]:
# Armamos un dataframe filtrando las columnas: (forma poco elegante)
df_final = pd.DataFrame()

for columna in columnas:
    df_final[columna] = df[columna]

C:\Users\lsaucedo\AppData\Local\Temp/ipykernel_9732/1386943277.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[columna] = df[columna]

In [12]:
df_final.to_csv(ruta_salida_cubo + "20220804_Cubo_202202_con_infl_v2.csv", sep = ",", encoding='latin-1', decimal= ",",index=False)

CONTROL RESULTADOS ANTES DE EXPORTAR:

In [12]:
df.head()

NameError: name 'df' is not defined

In [8]:
# Control totales (apertura total y pmo):
df_final["Consumo Total"].sum()

NameError: name 'df_final' is not defined

In [ ]:
# Control Ambulatorio:

In [5]:
# Control Internaciones:

In [6]:
# Control Medicamentos (cobertura, via, origen)