# Crear cubos para tablero

In [1]:
import pandas as pd
import numpy as np
import funciones

In [2]:
# Ruta con columnas:
ruta_col_cubo = 'C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/'
archivo_posicion_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Posicion_asociado_desc.xlsx"
archivo_provincia_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Provincia_asociado_desc.xlsx"
archivo_zonapromo_desc = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Auxiliares/Zona_promocion_desc.xlsx"

ruta_exportaciones = "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Reportes/"
ruta_salida_cubo =  "C:/Users/lsaucedo/Desktop/Reportes_Costeo/Cubo_salida/"

# DEFINIR EL PERIODO DEL CUBO
periodo_cubo = 202202

In [3]:
# Buscamos la auxiliar con las columnas objetivo (en orden)
df_base = pd.read_excel(ruta_col_cubo + "columnas_cubo.xlsx")
columnas = list(df_base.columns)

In [4]:
# Leemos el dataframe de exportaciones:
df = funciones.leer_csv(ruta_exportaciones)
df.reset_index()
df.fillna(0, inplace=True)

#df['Posicion Asociado DESC'] = "**COMPLETAR**"
df['Subtipo de Venta ID'] = df['Tipo de Venta ID']

# Agrego columna período al principio del df:
df["Período"] = periodo_cubo

In [5]:
#archivo = "C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Reportes/R_P_Mendoza.csv"
#df = pd.read_csv(archivo, decimal=',', encoding='latin-1')

In [6]:
# leo el dataframe con la posicion desc e id:
df_pa = pd.read_excel(archivo_posicion_desc)
df_pa.head()

   Posicion Asociado ID          Posicion Asociado DESC
0                     0
1                     1  CAR CÓRDOBA
2                     2  CAR RIO CUARTO
3                     3  CAR MORTEROS
4                     4  CAR SANTA FE

In [7]:
# leo el dataframe con la provincia desc e id:
df_pra = pd.read_excel(archivo_provincia_desc)
df_pra.head()

  Provincia Asociado ID         Provincia Asociado DESC
0                        FALTA DATO
1                     9  FALTA DATO
2                     A  SALTA
3                     B  BUENOS AIRES
4                     C  CAPITAL FEDERAL

In [8]:
# leo el dataframe con la zona de promocion desc e id:
df_zp = pd.read_excel(archivo_zonapromo_desc)
df_zp.head()

   Zona de Promocion ID Zona de Promocion DESC
0                     0            SIN ASIGNAR
1                     1                  OTROS
2                     2                CORDOBA
3                     3     GALVEZ / ESPERANZA
4                     4          MAR DEL PLATA

In [9]:
# hago el cruce para obtener la desc. de la posición, provincia e id del rango edad:
df = pd.merge(df, df_pa, on='Posicion Asociado ID', how='left')
df = pd.merge(df, df_pra, on='Provincia Asociado ID', how='left')
df = pd.merge(df, df_zp, on='Zona de Promocion ID', how='left')

In [10]:
df.rename( columns = { 'Cobertura_desc': 'Cobertura_med_desc', 
'Rango_Edad id': 'Rango_Edad_id',
'Cantidad NC_total_pmo': 'Cantidad NC_pmo',
'Consumo NC_total_pmo': 'Consumo NC_pmo'
}, inplace=True)

In [11]:
df.head()

,Discapacidad,Posicion Asociado ID,Provincia Asociado ID,Segmento,Plan,Plan Agrupado,Tipo de Venta DESC,Diabetes,Hepatitis,PMI,...,Segmento Agrupado ID,Sexo,Stock,Subtipo de Venta ID,Tipo de Venta ID,Zona de Promocion ID,Período,Posicion Asociado DESC,Provincia Asociado DESC,Zona de Promocion DESC
0,0,7,B,AMPS Puros,AMCC,S/D,AMPS Puro,0,0,0,...,96,0,12,60,60,660,202202,SEDE BUENOS AIRES,BUENOS AIRES,NaN
1,0,7,B,AMPS Puros,AMCC,S/D,AMPS Puro,0,0,0,...,96,0,12,60,60,660,202202,SEDE BUENOS AIRES,BUENOS AIRES,NaN
2,0,7,B,AMPS Puros,AMCC,S/D,AMPS Puro,0,0,0,...,96,12,12,60,60,660,202202,SEDE BUENOS AIRES,BUENOS AIRES,NaN
3,0,7,B,AMS GRAVADO,B1000,SANCOR 1000,Con Bonificación Permanente,0,0,0,...,11,11,11,33,33,638,202202,SEDE BUENOS AIRES,BUENOS AIRES,NaN
4,0,7,B,AMS GRAVADO,B1000,SANCOR 1000,Con Bonificación Permanente,0,0,0,...,3,0,3,9,9,174,202202,SEDE BUENOS AIRES,BUENOS AIRES,NaN

In [12]:
# Armamos un dataframe filtrando las columnas: (forma poco elegante)
df_final = pd.DataFrame()

for columna in columnas:
    print(columna)
    df_final[columna] = df[columna]

Período
Posicion Asociado DESC
Discapacidad
Posicion Asociado ID
Segmento
Plan
Plan Agrupado
Subtipo de Venta ID
Diabetes
Hepatitis
PMI
Cronico
Oncologico
Rango_Edad
Modelo_Cartilla
Cobertura_med_id
Lista_PrecioDesc
GC
Rango_Cons
algun_diag
Marca_Diagnostico
Marca Hijo
Edad
Sexo
Stock
Cantidad Total
Consumo Total
Cantidad Ambulatorio sin A,C,Med
Cantidad Internacion sin A,C,Med
Cantidad MEd
Cantidad NC
Cantidad Naj
Consumo Ambulatorio sin A,C,Med
Consumo Internacion sin A,C,Med
Consumo MEd
Consumo NC
Consumo Naj
Cantidad Amb DI
Cantidad Amb ME
Cantidad Amb NC
Cantidad Amb NP
Cantidad Consulta
Cantidad Fisiokinesio
Cantidad Imagenes
Cantidad Laboratorio
Cantidad Odontologia
Cantidad Resto Amb
Cantidad Salud Mental
Consumo Amb DI
Consumo Amb ME
Consumo Amb NC
Consumo Amb NP
Consumo Consulta
Consumo Fisiokinesio
Consumo Imagenes
Consumo Laboratorio
Consumo Odontologia
Consumo Resto Amb
Consumo Salud Mental
Cantidad Med. Amb
Cantidad Med. Int
Consumo Med. Amb
Consumo Med. Int
Cantidad Farmacia
Cantidad Otras vias
Cantidad Provision
Consumo Farmacia
Consumo Otras vias
Consumo Provision
Cantidad Cob. Base 40%
Cantidad Cob. Base 50%
Cantidad Cob. Base 60%
Cantidad Cob. Base 70%
Cantidad Cob. Base 80%
Cantidad Cobertura 100%
Cantidad Form. 4
Cantidad MACBI
Cantidad Otros
Cantidad Prest Genéricas
Cantidad R310
Consumo Cob. Base 40%
Consumo Cob. Base 50%
Consumo Cob. Base 60%
Consumo Cob. Base 70%
Consumo Cob. Base 80%
Consumo Cobertura 100%
Consumo Form. 4
Consumo MACBI
Consumo Otros
Consumo Prest Genéricas
Consumo R310
Cantidad CC
Cantidad CD
Cantidad CE
Cantidad CP
Cantidad Otras Int
Cantidad P
Cantidad QC
Cantidad RN
Consumo CC
Consumo CD
Consumo CE
Consumo CP
Consumo Otras Int
Consumo P
Consumo QC
Consumo RN
Cantidad NO PMO
Cantidad PMO
Consumo NO PMO
Consumo PMO
Cantidad Amb DI_pmo
Cantidad Amb ME_pmo
Cantidad Amb NC_pmo
Cantidad Amb NP_pmo
Cantidad Consulta_pmo
Cantidad Fisiokinesio_pmo
Cantidad Imagenes_pmo
Cantidad Laboratorio_pmo
Cantidad Odontologia_pmo
Cantidad Resto Amb_pmo
Cantidad Salud Mental_pmo
Consumo Amb DI_pmo
Consumo Amb ME_pmo
Consumo Amb NC_pmo
Consumo Amb NP_pmo
Consumo Consulta_pmo
Consumo Fisiokinesio_pmo
Consumo Imagenes_pmo
Consumo Laboratorio_pmo
Consumo Odontologia_pmo
Consumo Resto Amb_pmo
Consumo Salud Mental_pmo
Cantidad Med. Amb_pmo
Cantidad Med. Int_pmo
Consumo Med. Amb_pmo
Consumo Med. Int_pmo
Cantidad Farmacia_pmo
Cantidad Otras vias_pmo
Cantidad Provision_pmo
Consumo Farmacia_pmo
Consumo Otras vias_pmo
Consumo Provision_pmo
Cantidad CC_pmo
Cantidad CD_pmo
Cantidad CE_pmo
Cantidad CP_pmo
Cantidad Otras Int_pmo
Cantidad P _pmo
Cantidad QC_pmo
Cantidad RN_pmo
Consumo CC_pmo
Consumo CD_pmo
Consumo CE_pmo
Consumo CP_pmo
Consumo Otras Int_pmo
Consumo P _pmo
Consumo QC_pmo
Consumo RN_pmo
Cantidad Amb_sin_med_pmo
Cantidad Internacion_sin_med_pmo
Cantidad MEd_pmo
Consumo Amb_sin_med_pmo
Consumo Internacion_sin_med_pmo
Consumo MEd_pmo
Rango_Edad_id
Cobertura_med_desc
Provincia Asociado ID
Provincia Asociado DESC
ACE
Cantidad NC_pmo
Cantidad Naj_pmo
Consumo NC_pmo
Consumo Naj_pmo
Zona de Promocion ID
Zona de Promocion DESC

C:\Users\lsaucedo\AppData\Local\Temp/ipykernel_12396/4269666302.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[columna] = df[columna]

In [13]:
df_final.to_csv(ruta_salida_cubo + "20220818_Cubo_202202_con_infl_v2.csv", sep = ",", encoding='latin-1', decimal= ",",index=False)

CONTROL RESULTADOS ANTES DE EXPORTAR:

In [ ]:
df.head()

NameError: name 'df' is not defined

In [8]:
# Control totales (apertura total y pmo):
df_final["Consumo Total"].sum()

NameError: name 'df_final' is not defined

In [ ]:
# Control Ambulatorio:

In [5]:
# Control Internaciones:

In [6]:
# Control Medicamentos (cobertura, via, origen)