# Prueba de reporte consolidado

In [7]:
import funciones
import generador_zona
import pandas as pd
import numpy as np

In [2]:
# Generar reporte de una zona
df = generador_zona.generador_zona_df("C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/CAR CHILECITO_seteo.txt")

In [3]:
df.head()

,Periodo,Persona,Fecha_nac,Parentesco IdParentesco,Edad,Sexo,Discapacidad,Posicion Asociado ID,Zona de Promocion ID,Segmento Agrupado ID,...,Consumo Otras Int_pmo,Consumo P _pmo,Consumo QC_pmo,Consumo RN_pmo,Cantidad Amb_sin_med_pmo,Cantidad Internacion_sin_med_pmo,Cantidad MEd_pmo,Consumo Amb_sin_med_pmo,Consumo Internacion_sin_med_pmo,Consumo MEd_pmo
0,202101,133058,19420522,0,78,1,0,85,25,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.29,0.0,0.00
1,202101,133059,19461126,1,74,0,0,85,25,1,...,0.0,0.0,0.0,0.0,1.0,0.0,3.0,1.29,0.0,1383.64
2,202101,143890,19750719,1,45,1,0,85,25,2,...,0.0,0.0,0.0,0.0,8.0,0.0,3.0,22.52,0.0,1766.64
3,202101,161234,19730315,0,47,1,0,85,25,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00
4,202101,166871,19780122,0,42,1,0,85,25,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.29,0.0,0.00

In [9]:
# Atributos para generar la td
Atributos = [   "Discapacidad", "Posicion Asociado ID", "Segmento", "Plan",
                "Plan Agrupado", "Tipo de Venta DESC", "Diabetes", "Hepatitis",
                "PMI", "Cronico", "Oncologico", "Rango_Edad", "Modelo_Cartilla",
                "Cobertura_med_id", "Lista_PrecioDesc", "GC", "Rango_Cons",
                "algun_diag", "Marca_Diagnostico", "Marca Hijo" ]

In [14]:
td_cubo = pd.pivot_table( df, index=Atributos, 
                aggfunc=np.sum).reset_index()

In [15]:
td_cubo

,Discapacidad,Posicion Asociado ID,Segmento,Plan,Plan Agrupado,Tipo de Venta DESC,Diabetes,Hepatitis,PMI,Cronico,...,Parentesco IdParentesco,Periodo,Periodo_Prest,Persona,Segmento Agrupado ID,Sexo,Stock,Subtipo de Venta ID,Tipo de Venta ID,Zona de Promocion ID
0,0,85,AMS GRAVADO,C1050,SANCOR 1000,Con BonificaciÃ³n Permanente,0,0,0,0,...,45,1818945,1818945.0,15327396,9,0,9,72,27,225
1,0,85,AMS GRAVADO,C1050,SANCOR 1000,Con BonificaciÃ³n Permanente,0,0,0,0,...,90,3637890,3637890.0,30654765,18,9,18,144,54,450
2,0,85,AMS GRAVADO,C1050,SANCOR 1000,Con BonificaciÃ³n Permanente,0,0,0,0,...,9,3637890,3637890.0,30654729,18,9,18,144,54,450
3,0,85,AMS GRAVADO,C1050,SANCOR 1000,Con BonificaciÃ³n Permanente,0,0,0,0,...,0,1212657,1212657.0,6492108,6,0,6,48,18,150
4,0,85,AMS GRAVADO,C1050,SANCOR 1000,Con BonificaciÃ³n Temporaria,0,0,0,0,...,5,202110,202110.0,1703044,1,0,1,11,4,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,0,85,Obras Sociales PMO,PMO,PMO,Sin BonificaciÃ³n,0,0,0,0,...,0,2627368,0.0,12408811,39,5,13,39,13,325
777,0,85,Obras Sociales PMO,PMO,PMO,Sin BonificaciÃ³n,0,0,0,0,...,96,6467388,0.0,30035368,96,0,32,96,32,800
778,0,85,Obras Sociales PMO,PMO,PMO,Sin BonificaciÃ³n,0,0,0,0,...,0,808438,0.0,2749088,12,0,4,12,4,100
779,1,85,AMS GRAVADO,E3050,SANCOR 3000,Linea Empresa,0,0,0,0,...,36,2425278,2425278.0,11662056,12,12,12,84,24,300
780,1,85,AMS NO GRAVADO,E3050,SANCOR 3000,Con BonificaciÃ³n Permanente,0,0,0,0,...,96,4850556,4850556.0,28807272,48,24,24,192,72,600