# Código de reportes para generar informes

In [1]:
# Librerías usadas:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import funciones
import proceso
import generador_zona

In [2]:
ruta_seteos = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/"

In [3]:
# Generar una zona
#generador_zona.generador_zona(ruta_seteos)

In [4]:
r1 = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/set_villa_mercedes.txt"
r2 = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/set_reconquista.txt"
r3 = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/set_chilecito.txt"
r4 = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/set_rosario2.txt"

In [5]:
generador_zona.generador_zona(r1)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos/set_villa_mercedes.txt'

In [6]:
generador_zona.generador_zona(r2)

se generaron todas las columnas de consumos e inicia proceso de armado de tds
comienzo armado td internaciones
fin armado td internaciones
comienzo armado td internaciones pmo
fin armado td internaciones pmo

In [7]:
generador_zona.generador_zona(r3)

se generaron todas las columnas de consumos e inicia proceso de armado de tds
comienzo armado td internaciones
fin armado td internaciones
comienzo armado td internaciones pmo
fin armado td internaciones pmo

In [8]:
generador_zona.generador_zona(r4)

se generaron todas las columnas de consumos e inicia proceso de armado de tds
comienzo armado td internaciones
fin armado td internaciones
comienzo armado td internaciones pmo
fin armado td internaciones pmo

# Desde una ruta

In [1]:
# Librerías usadas:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import funciones
import proceso
import generador_zona

ruta_set = "C:/Users/lsaucedo/Desktop/Bases Costeos 2021/set_archivos_santiago/"
lista_archivos = os.listdir(ruta_set)

In [2]:
for archivos in lista_archivos:
    print("inicia el proceso de", archivos)
    generador_zona.generador_zona_df(ruta_set + archivos)
    print("finalizado el proceso de", archivos)

inicia el proceso de CAR SANTIAGO DEL ESTERO_seteo.txt
finalizado el proceso de CAR SANTIAGO DEL ESTERO_seteo.txt

# Desde una ruta CSV

In [7]:
# Librerías usadas:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import funciones
import proceso
import generador_zona

ruta_set = "C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Set_Archivos/"
lista_archivos = os.listdir(ruta_set)

In [8]:
for archivos in lista_archivos:
    print("inicia el proceso de", archivos)
    generador_zona.generador_zona_df_csv(ruta_set + archivos)
    print("finalizado el proceso de", archivos)

inicia el proceso de Mendoza.txt
float64
float64
ok, apertura pmo
float64
ok, internaciones
ok, apertura total
ok, apertura rubros
float64
ok, apertura medicamentos
ok, apertura via medicamentos
float64
inicia la apertura medicamentos por cobertura
float64
división de valores iniciando
división de valores finalizada
redondear
realizamos el cruce
ok, apertura medicamentos por cobertura
inicio tds
vamos por la td8 finalizada
todas las tds finalizadas, vamos a concatenarlas
todas las tds concatenadas
Pasamos rango edad
Pasamos cartilla base
Pasamos marca cobertura med
Pasamos lista copagos
Pasamos marca diag
Pasamos parentesco
Unimos por periodo persona el consumo para generar el archivo de salida
exportando archivo de salida:
finalizado el proceso de Mendoza.txt

In [4]:
# !pip install streamlit
# streamlit hello

In [5]:
import streamlit as st
x = st.slider('Select a value')
st.write(x, 'squared is', x * x)

In [13]:

import funciones
dfs = funciones.leer_csv_2("C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Stock Zona/La Rioja/")
dfs.columns
dfs[26].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 26, dtype: float64

In [10]:
    dfs = ["Periodo ID","Persona ID","Persona Fecha Nacimiento","Parentesco IdParentesco","Edad Periodo ID","Sexo ID","Discapacitado ID","Localidad Asociado ID",
    "Provincia Asociado ID","Posicion Asociado ID","Zona de Promocion ID","Segmento Agrupado ID","Segmento Agrupado DESC","Plan Sin Segmento ID",
    "Plan Agrupado Sin Segmento DESC","Tipo de Venta DESC","Tipo de Venta ID","Subtipo de Venta DESC","Subtipo de Venta ID","Marca Persona con Diabetes DESC",
    "Marca Persona con Hepatitis DESC","Marca Persona con PMI DESC","Marca Persona con Tratamiento Cronico DESC","Marca Persona con Tratamiento Oncológico DESC",
    "Stock Asociados Salud","ACE Stock Asociados Salud"]
    dfs

['Periodo ID',
 'Persona ID',
 'Persona Fecha Nacimiento',
 'Parentesco IdParentesco',
 'Edad Periodo ID',
 'Sexo ID',
 'Discapacitado ID',
 'Localidad Asociado ID',
 'Provincia Asociado ID',
 'Posicion Asociado ID',
 'Zona de Promocion ID',
 'Segmento Agrupado ID',
 'Segmento Agrupado DESC',
 'Plan Sin Segmento ID',
 'Plan Agrupado Sin Segmento DESC',
 'Tipo de Venta DESC',
 'Tipo de Venta ID',
 'Subtipo de Venta DESC',
 'Subtipo de Venta ID',
 'Marca Persona con Diabetes DESC',
 'Marca Persona con Hepatitis DESC',
 'Marca Persona con PMI DESC',
 'Marca Persona con Tratamiento Cronico DESC',
 'Marca Persona con Tratamiento Oncológico DESC',
 'Stock Asociados Salud',
 'ACE Stock Asociados Salud']

In [19]:
df["Subtipo de Venta DESC"].unique()

array([999.,  nan,   4., 987.,   0., 993., 996.,  57., 995.,   6., 899.,
         8., 997., 994., 977.])

In [5]:
df = pd.read_csv("C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Consumo Zona/Resto/Consumo Provincia- SANTA CRUZ.csv", encoding="latin-1",sep=";", decimal=",")
df.head()

,202101,22965,20010308,F,N,9015007,Z,43,33,AMS GRAVADO,...,5,Operativo,999,0,999.1,0.1,",000",1.1,"1,2900","32,0000"
0,202101,87851,19840818,M,N,9405001,Z,41,26,Obras Sociales PMO,...,36,Táctico,999,0,999.0,0.0,0.0,1,923.69,0.0
1,202101,87851,19840818,M,N,9405001,Z,41,26,Obras Sociales PMO,...,999,F/D,999,10340069,NaN,NaN,0.0,0,-101.93,0.0
2,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,7,F/D,999,0,999.0,0.0,0.0,1,0.00,0.0
3,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,999,F/D,999,87791777,999.0,87791777.0,0.0,1,-13.32,0.0
4,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,999,F/D,999,87843984,999.0,87843984.0,0.0,1,-51.59,0.0

In [28]:
df.shape

(379415, 39)

In [6]:
df.columns = ["Periodo ID","Persona ID","Persona Fecha Nacimiento","Sexo ID","Discapacitado ID",
"Localidad Asociado ID","Provincia Asociado ID","Posicion Asociado ID","Zona de Promocion ID",
"Segmento Agrupado DESC","Plan Sin Segmento ID","Tipo de Venta DESC","Tipo de Venta ID","Subtipo de Venta DESC",
"Subtipo de Venta ID","Periodo Prestacion ID","Edad Orden ID","Origen Prestacion ID","Origen Facturacion ID",
"Prestacion ID","Rubro Indicadores Consumo ID","Prestacion Acreedor ID","Nomenclador ID","Nomenclador DESC","Acreedor ID",
"Provision Acreedor ID","Posicion Acreedor ID","Subcategoria Acreedor DESC","Tipo Orden ID","Nro Orden ID",
"Tipo Orden Relacionada ID","Orden Relacionada ID","Porcentaje Cobertura Medicamento ID","Cantidad",
"Consumo","Precio Sugerido Medicamento"]

In [7]:
df.head()

,Periodo ID,Persona ID,Persona Fecha Nacimiento,Sexo ID,Discapacitado ID,Localidad Asociado ID,Provincia Asociado ID,Posicion Asociado ID,Zona de Promocion ID,Segmento Agrupado DESC,...,Posicion Acreedor ID,Subcategoria Acreedor DESC,Tipo Orden ID,Nro Orden ID,Tipo Orden Relacionada ID,Orden Relacionada ID,Porcentaje Cobertura Medicamento ID,Cantidad,Consumo,Precio Sugerido Medicamento
0,202101,87851,19840818,M,N,9405001,Z,41,26,Obras Sociales PMO,...,36,Táctico,999,0,999.0,0.0,0.0,1,923.69,0.0
1,202101,87851,19840818,M,N,9405001,Z,41,26,Obras Sociales PMO,...,999,F/D,999,10340069,NaN,NaN,0.0,0,-101.93,0.0
2,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,7,F/D,999,0,999.0,0.0,0.0,1,0.00,0.0
3,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,999,F/D,999,87791777,999.0,87791777.0,0.0,1,-13.32,0.0
4,202101,117833,19901128,F,N,9011000,Z,43,33,AMS NO GRAVADO,...,999,F/D,999,87843984,999.0,87843984.0,0.0,1,-51.59,0.0

In [11]:
df.Consumo.sum()

219387859.52

In [14]:
    df.columns = ["Periodo ID","Periodo Prestacion ID","Persona ID","Persona Fecha Nacimiento","Edad Orden ID","Sexo ID","Discapacitado ID",
    "Posicion Asociado ID","Zona de Promocion ID","Localidad Asociado ID","Provincia Asociado ID","Plan Sin Segmento ID","Origen Prestacion ID",
    "Origen Facturacion ID","Prestacion ID","Rubro Indicadores Consumo ID","Prestacion Acreedor ID","Nomenclador ID","Nomenclador DESC",
    "Acreedor ID","Provision Acreedor ID","Posicion Acreedor ID","Subcategoria Acreedor DESC","Tipo Orden ID","Nro Orden ID","Tipo Orden Relacionada ID"
    ,"Orden Relacionada ID","Porcentaje Cobertura Medicamento ID","Tipo de Venta DESC","Tipo de Venta ID","Subtipo de Venta DESC","Subtipo de Venta ID",
    "Segmento Agrupado DESC","Cantidad","Consumo","Precio Sugerido Medicamento"]

In [20]:
df.head()

,Periodo ID,Periodo Prestacion ID,Persona ID,Persona Fecha Nacimiento,Edad Orden ID,Sexo ID,Discapacitado ID,Posicion Asociado ID,Zona de Promocion ID,Localidad Asociado ID,...,Orden Relacionada ID,Porcentaje Cobertura Medicamento ID,Tipo de Venta DESC,Tipo de Venta ID,Subtipo de Venta DESC,Subtipo de Venta ID,Segmento Agrupado DESC,Cantidad,Consumo,Precio Sugerido Medicamento
0,202101,323549,19770915,M,N,9400009,Z,41,26,AMS NO GRAVADO,...,5,Táctico,999,0,999.0,0.0,0.0,1,42.50,0.0
1,202101,323549,19770915,M,N,9400009,Z,41,26,AMS NO GRAVADO,...,5,Operativo,999,0,999.0,0.0,0.0,1,1.29,32.0
2,202101,379105,19861202,F,N,9400009,Z,41,26,AMS NO GRAVADO,...,5,Táctico,999,0,999.0,0.0,0.0,1,42.50,0.0
3,202101,379105,19861202,F,N,9400009,Z,41,26,AMS NO GRAVADO,...,5,Operativo,999,0,999.0,0.0,0.0,1,1.29,32.0
4,202101,561895,19870127,F,N,9400009,Z,41,26,AMS NO GRAVADO,...,5,Táctico,999,0,999.0,0.0,0.0,1,42.50,0.0

In [16]:
#  tipos de datos del df
df.dtypes

Periodo ID                               int64
Periodo Prestacion ID                    int64
Persona ID                               int64
Persona Fecha Nacimiento                object
Edad Orden ID                           object
Sexo ID                                  int64
Discapacitado ID                        object
Posicion Asociado ID                     int64
Zona de Promocion ID                     int64
Localidad Asociado ID                   object
Provincia Asociado ID                   object
Plan Sin Segmento ID                    object
Origen Prestacion ID                     int64
Origen Facturacion ID                   object
Prestacion ID                            int64
Rubro Indicadores Consumo ID             int64
Prestacion Acreedor ID                   int64
Nomenclador ID                          object
Nomenclador DESC                        object
Acreedor ID                             object
Provision Acreedor ID                   object
Posicion Acreedor ID                    object
Subcategoria Acreedor DESC              object
Tipo Orden ID                           object
Nro Orden ID                             int64
Tipo Orden Relacionada ID                int64
Orden Relacionada ID                     int64
Porcentaje Cobertura Medicamento ID     object
Tipo de Venta DESC                       int64
Tipo de Venta ID                         int64
Subtipo de Venta DESC                  float64
Subtipo de Venta ID                    float64
Segmento Agrupado DESC                 float64
Cantidad                                 int64
Consumo                                float64
Precio Sugerido Medicamento            float64
dtype: object

In [12]:
dfc.columns

Index([], dtype='object')

In [ ]:
def leer_csv_2(ruta):
    
    #print("Inicio carga: " + datetime.now().strftime('%H:%M:%S'))
    contenido = os.listdir(ruta)

    # Dataframe a generar:
    df = pd.DataFrame()

    archivos = []
    for fichero in contenido:
        if os.path.isfile(os.path.join(ruta, fichero)) and fichero.endswith('.csv'):
            df_temp = pd.read_csv(ruta+fichero, sep=';', header= None)
            df = pd.concat([df, df_temp], axis=0)
            #print("Se cargó el archivo: ", fichero, "a las: " + datetime.now().strftime('%H:%M:%S'))
    
    df_temp = []
    #print("Fin de la carga de archivos")
    return df

In [1]:
pd.read_csv("C:/Users/lsaucedo/Desktop/Reportes_Costeo_2021/Consumo Zona/La Rioja/lala.csv", sep=';', header= None,encoding='latin1')

NameError: name 'pd' is not defined